/* MAP */
.states {
    stroke: #333;
    fill: cornflowerblue;
    fill-opacity: .7;
}

.symbol {
    fill: steelblue;
    fill-opacity: .8;
    stroke: #fff;
}

svg {
  display: block;
  margin: 0 auto;
}
