/* MAP */
.states {
    stroke: #333;
    /*fill: cornflowerblue;*/
    fill-opacity: 1;
}

.symbol {
    fill: steelblue;
    fill-opacity: .8;
    stroke: #fff;
}

svg {
  display: block;
  margin: 0 auto;
}

#slider {
  margin-top: 15px;
  margin-bottom: 30px;
}

#line-title {
  text-align: center;
}

.line {
  stroke: orange;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis {
  font-size: 11px;
}

text {
  font-family: sans-serif;
}

.vertline {
  stroke: #aaa;
  stroke-dasharray: 5,5;
  stroke-width: 1px;
}

.vertlabel {
  font-size: 11px;
  fill: #666;
}

.legendlabel {
  font-size: 11px;
  fill: black;
}

.gradient-rect {
  stroke: black;
}
